<?php
static $postingURL = 'https://ws.merchanttest.firstdataglobalgateway.com/fdggwsapi/services'; //Client Test Env URL
static $store = ''; //String
static $userID = ''; //String
static $password = ''; //String
static $sslCert = ''; //File path
static $sslKey = ''; //File path
static $sslKeyPass = ''; //String
?>