<?php
static $postingURL = 'https://ws.merchanttest.firstdataglobalgateway.com/fdggwsapi/services'; //Client Test Env URL
static $store = '';
static $userID = '';
static $password = '';
static $sslCert = ''; //File path
static $sslKey = ''; //File path
static $sslKeyPass = ''; //String
?>